body{
padding: 0;
font-family: 'Open Sans', sans-serif;

}
header{
  margin-bottom: 5%;
}

main {
  max-width: 80%;
  margin:auto;
  padding-top:150px;
}

form{
  justify-content: center;
  text-align: center;
}
h1 {
  color: hsla(356, 100%, 100%, 1);
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
ul{
  list-style-type: none;
}
li{
  font-size: 1.2em;
  /*padding-right: 50px;*/
  margin-bottom: 20px;
}

title{
  padding:0 10px;
}
ul input{
  border-radius: 2px;
  background-color:rgb(255,82,82);
  min-height: 34px;
  padding:0 16px;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;
  color:white;
  border: none;
  display: inline-block;
  position: relative;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;

}
input[type='checkbox'] {
  -webkit-appearance: button;

  padding:5px;
  border-radius:4px;
  border:solid 1px rgb(255,82,82);
  background-color:#fff;
  color:rgb(255,82,82);
  white-space: nowrap;
  overflow:hidden;

  width:30px;
  height:10px;

  margin-right: 30px;
  align-content:left;
}
    input[type=checkbox]:checked {
      background-color:rgb(255,82,82);
      box-shadow: none;
    }
    input[type=checkbox]:active {
      box-shadow:none;
    }
    input[type=checkbox]:hover {
      background-color:rgba(255,82,82,.1) ;
      box-shadow:none;
    }


input[type='button']{
  margin-left: 30px;
  float: right;
  background-color: rgba(101,124,137,.25);
}

@media (max-width: 1040px) {
  main {
    max-width: 100%;
    padding-top:50px;
  }
  .mdl-cell .mdl-cell--3-col {
    width:0;
  }
}
@media (max-width: 840px) {
  main {
    max-width: 100%;
    padding-top:70px;
  }
  .mdl-cell .mdl-cell--3-col {
    width:0;
  }
}
